$container__max-width: 1024px;
$container__gutter: 20px;

$list-container__min-width: 620px;

$sidebar__width: 300px;

$max-width__cover-wide: 1080px;

$breakpoint-small: 480px;
$breakpoint-medium: 920px;

$transition-duration: 0.2s;
