<code class="language-kotlin kotlin-code"
    {{- if .Get "foldedButton" }} folded-button="{{ .Get "foldedButton" }}" {{ end -}}
    {{- if .Get "height" }} data-output-height="{{ .Get "height" }}" {{ end -}}
    {{- if .Get "highlightOnly" }} data-highlight-only {{ end -}}
    {{- if .Get "jsLibs" }} data-js-libs="{{ .Get "jsLibs" }}" {{ end -}}
    {{- if .Get "targetPlatform" }} data-target-platform="{{ .Get "targetPlatform" }}" {{ end -}}
    {{- if .Get "theme" }} theme="{{ .Get "theme" }}" {{ end -}}
    match-brackets="true"
>
{{htmlUnescape .Inner}}
</code>
